<!doctype html>

<html>

	<head>
    
    	<Title>Project Detail</title>
         <link href="css/style.css" rel="stylesheet" type="text/css" media="screen">
    
    </head>
    
    <body>
    <div id="wrapper">
    	
        <div id="top">
                
          <div id="banner">
              <img src="images/logo.png">
          </div>
          
          <div id="border">
              <img src="images/border1.png">          </div> 
                                            
        </div>
            
        <div id="navigation">
            	
           <img src="images/user.jpg">
               <ul>
                    
                  <li><a href="account.html">Account Information</a></li>
                  <li><a href="listpage.html">Project List</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="index.html">Logout</a></li>
              </ul>
         </div>
            
         <div id="maincontent">
            
              <div id="header">
                  <h1>Project Name</h1>    
                    <a href="member.html">(View Group Members)</a>
                
              </div>
                
              <div id="description">
                  <h2>Project Description</h2>
                  <p>Which to go for - the desktop mega rig for graphically intense sessions, or a hardcore laptop for on-the-go gaming? How about a solution combining the best of both? That's the approach of the Alienware 13 gaming laptop. Use as a mobile gaming machine, then simply plug into the Alienware Graphics Amplifier at home - which can be configured with your choice of full size graphics card - to turbocharge it. We got to see the pair in action and think it's a nifty idea. 
    
    Given that a laptop solution embeds both screen and chipset into the one device, it's slightly less flexible than a full-on desktop rig, but in the instance of this Alienware pairing it opens the door for the use of heavyweight graphics cards with the ability to easily upgrade in the future.
    
    Not that the Alienware 13 scrimps on features even in its most basic configuration. It houses a 13-inch 2560 x 1440 resolution screen that's crammed full of detail and is a step beyond many non-gaming laptops these days. It looks rather brilliant.</p>
              </div>

                  <div id="obj1">
                      <h2>Project Phase</h2>
                      <p>obj1</p>
                  </div>

                  <div id="obj2">
                      <h2>Working Hour</h2>
                      <p>obj2</p>
                  </div>
   
                  <div id="obj3">
                      <h2>Requirements</h2>
                      <p>obj3</p>
                  </div>
   
                  <div id="obj4">
                      <h2>Test Cases</h2>
                      <p>obj4</p>
                  </div>

                  <div id="obj5">
                      <h2>Number of Code Revision</h2>
                      <p>obj5</p>
                  </div>
                
                  <div id="obj6">
                      <h2>Commits to Version Control</h2>
                      <p>obj6</p>
                  </div>

          </div>
            
          <div id="footer">
         	  <img src="images/border1.png">
              <p>&copy Copyright thingy</p>
          </div>
	
    </div>
                
</body>

</html>