<!doctype html>

<html>

	<head>
    
    	<Title>Login</title>
         <link href="css/style.css" rel="stylesheet" type="text/css" media="screen">
    
    </head>
    
    <body id="loginbody">
    
    <div id="wrapper">
    		
        <div id="top">
                
          <div id="banner">
              <img src="images/logo.png">
          </div>
          
          <div id="border">
              <img src="images/border1.png">          </div> 
                                            
        </div>
             
          <div id="loginform">
              	  <form method="post" action="" name="logform" id="login">
                  
                  <ol>
                  		<li>
                        	<label for="username">Username:</label>
                            <input type="text" name="uname">
                        </li>
                        
                        <li>
                        	<label for="password">Password :</label>
                            <input type="text" name="pass">
                        </li>
                  </ol>
                  <div id="logb">
                  	<button>Login</button>
                  </div>
                  
                  </form>
          </div>
	
    </div>
                
</body>

</html>