<!doctype html>

<html>

	<head>
    
    	<Title>Logint</title>
         <link href="css/style.css" rel="stylesheet" type="text/css" media="screen">
    
    </head>
    
    <body>
    <div id="wrapper">
    	
        <div id="top">
                
          <div id="banner">
              <img src="images/logo.png">
          </div>
          
          <div id="border">
              <img src="images/border1.png">          </div> 
                                            
        </div>
                    
          <div id="troll">
          	<img src="images/funny-gifs-player-2-has-left-the-game.gif">
          </div>
             
          <div id="footer">
         	  <img src="images/border1.png">
          </div>
	
    </div>
                
</body>

</html>