<!doctype html>

<html>

	<head>
    
    	<Title>Project List</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" media="screen">
    
    </head>
    
    <body>
    <div id="wrapper">
    	
        <div id="top">
                
          <div id="banner">
              <img src="images/logo.png">
          </div>
          
          <div id="border">
              <img src="images/border1.png">          </div> 
                                            
        </div>
            
        <div id="navigation">
            	
           <img src="images/user.jpg">
               <ul>
                    
                  <li><a href="account.html">Account Information</a></li>
                  <li><a href="listpage.html">Project List</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="index.html">Logout</a></li>
              </ul>
         </div>
            
         <div id="maincontent">
            
              <div id="header">
              
                  <h1>Project List</h1>
                  
                  <form>
                  	<input type="checkbox" name="active" value="active" tabindex="1" />View Active Projects only
                  </form>
              
              </div>
                	
              <div id="listcontent">
              
              		<div id="listbutton">
              	  		<a href="projectedit.html"><button>Edit</button></a>
                    </div>
                    
                    <div id="listtable">
                  		<table border="2">
                        	<tr>
                            <td id="tpn">Project Name</td>
                            <td id="tstat">Status</td>
                            <td id="tsd">Start Date
                            </td>
                            
                            <td id="tdl">Deadline</td>
                            
                            <td id="tfd">Finish Date</td>
                            
                            </tr>
                            <tr>
                            <td><a href="detail.html">Sample Project</a></td>
                            <td>Active</td>
                            <td>31/12/2013</td>
                            <td>31/12/2014</td>
                            <td></td>
                            
                            
                        </table>	
              		</div>
              </div>

          </div>
            
          <div id="footer">
         	  <img src="images/border1.png">
              <p>&copy Copyright thingy</p>
          </div>
	
    </div>
                
</body>

</html>