<!doctype html>

<html>

	<head>
    
    	<Title>Welcome</title>
         <link href="css/style.css" rel="stylesheet" type="text/css" media="screen">
    
    </head>
    
    <body>
    <div id="wrapper">
    	
        <div id="top">
                
          <div id="banner">
              <img src="images/logo.png">
          </div>
          
          <div id="border">
              <img src="images/border1.png">          </div> 
                                            
        </div>
            
        <div id="navigation">
            	
           <img src="images/user.jpg">
               <ul>
                    
                  <li><a href="account.html">Account Information</a></li>
                  <li><a href="listpage.html">Project List</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="index.html">Logout</a></li>
              </ul>
         </div>
            
         <div id="maincontent">
            
              <div id="header">
                  <h1>Welcome Username</h1>    
              </div>
                
              <div id="lvp">
              	  <h2>Last Viewed Project</h2>
			  	  <p>Image</p>
              </div>
              
              <div id="pl">
              	  <h2>Project List</h2>
                  <p>Image</p>
              </div>
                  
              <div id="np">
              	  <h2>Newest Project</h2>
              	  <p>Image</p>
              </div>    
                  
          </div>
            
          <div id="footer">
         	  <img src="images/border1.png">
              <p>&copy Copyright thingy</p>
          </div>
	
    </div>
                
</body>

</html>