<!doctype html>

<html>

	<head>
    
    	<Title>Project List</title>
         <link href="css/style.css" rel="stylesheet" type="text/css" media="screen">
    
    </head>
    
    <body>
    <div id="wrapper">
    	
        <div id="top">
                
          <div id="border">
              <img src="images/border1.png">          </div> 
                                            
        </div>
                      
         <div id="maincontent">
            
              <div id="header">
              
                  <h1>Member List</h1>

              </div>
                	
              <div id="listcontent">
              
              		<div id="listbutton">
              	  		<a href="projectedit.html"><button>Edit</button></a>
                    </div>
                    
                    <div id="listtable">
                  		<table border="2">
                        	<tr>
                            <td id="tmn">Member Name</td>
                            <td id="tttl">Title</td>
                            <td id="tem">E-mail
                            </td>
                            
                            <td id="tcn">Contact Number</td>
                            
                            <td id="twh">Working Hour</td>
                            
                            </tr>
                            
                            
                        </table>	
              		</div>
              </div>

          </div>
            
          <div id="footer">
         	  <img src="images/border1.png">
          </div>
	
    </div>
                
</body>

</html>